@font-face {
    font-family: "SSPro-Light";
    src: url("../../fonts/SourceSansPro-Light.otf") format("opentype");
}
@font-face {
    font-family: "SSPro-Regular";
    src: url("../../fonts/SourceSansPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: "SSPro-SemiBold";
    src: url("../../fonts/SourceSansPro-Semibold.otf") format("opentype");
}
@font-face {
    font-family: "SSPro-Bold";
    src: url("../../fonts/SourceSansPro-Bold.otf") format("opentype");
}
@font-face {
    font-family: "SSPro-Black";
    src: url("../../fonts/SourceSansPro-Black.otf") format("opentype");
}